.main {
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 1200px;
    margin: 0px auto 0px auto;
}

/*-----------------aside---------------------------------------------------------------------------------------------*/

.sidebar {
    flex: 0 1 30.833%;
    background-color: #1E2939;
    color: #fff;
}

.sidebar__image {
    width: 100%;
    padding: 0px 0px 95.68% 0px;
    margin: 40px 0px 51px 0px;
}

.sidebar__info {
    margin: 0px 0px 0px 40px;
}

.sidebar__contacts {
    margin: 0px 5px 47px 0px;
}

.sidebar__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 122%;
    margin: 0px 0px 8px 0px;
}

.sidebar__user-contact > p {
    line-height: 171%;
    font-weight: 700;
}

.sidebar__tel {
    margin: 0px 0px 0px 5px;
    font-weight: 400;
    color: #646C77;
}

.sidebar__tel:hover {
    text-decoration: underline;
}

.sidebar__email {
    margin: 0px 0px 0px 5px;
    font-weight: 400;
    color: #646C77;
}

.sidebar__email:hover {
    text-decoration: underline;
}

.sidebar__tech-skills {
    margin: 0px 0px 44px 0px;
}

.sidebar__list {
    line-height: 171%;
}

.sidebar__list > li {
    position: relative;
    padding: 0px 0px 0px 16px;
}

.sidebar__list > li::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    background-color: #FB6D3A;
    transform: translateY(-50%);
}

/*-----------------main__content---------------------------------------------------------------------------------------------*/

.main__content {
    flex: 0 1 69.167%;
    padding: 102px 15px 107px 88px;
    background-color: #FFFFFF;
}

.about {
    margin: 0px 0px 40px 0px;
}

.about__subtitle {
    line-height: 122%;
    font-weight: 700;
    margin: 0px 0px 19px 0px;
}

.about__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 122%;
    margin: 0px 0px 20px 0px;
}

.about__description {
    max-width: 550px;
    line-height: 171%;
}

.projects {
    margin: 0px 0px 52px 0px;
}

.projects__title {
    font-size: 22px;
    line-height: 122%;
    font-weight: 700;
    margin: 0px 0px 8px 0px;
}

.projects__list {
    line-height: 172%;
    margin: 0px 0px 0px 16px;
}

.projects__list > li {
    padding: 0px 0px 0px 10px;
}

.projects__link {
    color: #595959;
    transition: all 0.3s ease 0s;
}

.projects__link:hover {
    color: #b34b4b;
}

.career {
    margin: 0px 0px 43px 0px;
}

.career__title {
    font-size: 22px;
    line-height: 122%;
    font-weight: 700;
    margin: 0px 0px 11px 0px;
}

.company:not(:last-child) {
    margin: 0px 0px 18px 0px;
}

.company__position {
    line-height: 122%;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 0px 11px 0px;
}

.company__position span {
    color: #FB6D3A;
}

.company__date {
    color: #A8A8A8;
    line-height: 122%;
    font-size: 12px;
    margin: 0px 0px 8px 0px;
}

.company__list {
    color: #595959;
    line-height: 171%;
}

.company__list > li {
    position: relative;
    padding: 0px 0px 0px 16px;
}

.company__list > li::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    background-color: #595959;
    transform: translateY(-50%);
}

.education__title {
    font-size: 22px;
    line-height: 122%;
    font-weight: 700;
    margin: 0px 0px 12px 0px;
}

.education__university {
    font-weight: 700;
    color: #FB6D3A;
    font-size: 16px;
    line-height: 122%;
    margin: 0px 0px 11px 0px;
}

.education__specialty {
    line-height: 122%;
    font-weight: 700;
    margin: 0px 0px 12px 0px;
}

.education__date {
    color: #A8A8A8;
    font-size: 12px;
    line-height: 122%;
}


@media (max-width: 992px){
    .sidebar {
        flex: 0 1 40%;
        padding: 0px 0px 20px 0px;
    }

    .main__content {
        flex: 0 1 60%;
        padding: 70px 15px 70px 75px;
    }
}

@media (max-width: 768px){

    .sidebar__image {
        margin: 40px 0px;
    }

    .sidebar__info {
        margin: 0px 0px 0px 20px;
    }

    .main__content {
        padding: 40px 25px;
    }

    .about__title {
        font-size: 35px;
    }

    .projects {
        margin: 0px 0px 30px 0px;
    }

    .career {
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 640px){

    .main {
        flex-direction: column-reverse;
    }

    .sidebar__info {
        max-width: 240px;
        margin: 0 auto;
    }
}

@media (max-width: 480px){

    .sidebar__image {
        margin: 30px 0px;
    }

    .main__content {
        padding: 30px 15px;
    }

    .about {
        margin: 0px 0px 30px 0px;
    }

    .about__title {
        font-size: 30px;
    }

    .projects__list {
        list-style-type: none;
        margin: 0px 0px 0px 0px;
    }

    .projects__list > li {
        padding: 0px 0px 0px 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}